@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:ital@0;1&family=Roboto&family=Signika+Negative:wght@600&display=swap");
.inicio p, .tratamientos-descripcion, .politica-ambiental p {
  text-align: center;
  font-size: 25px;
  font-family: "Oswald", sans-serif; }

.inicio {
  margin: 20px; }
  .inicio p {
    padding-left: 10px;
    margin: 30px; }
  .inicio img {
    margin-top: 30px;
    border-radius: 15px; }

.clientes h2 {
  margin: 40px;
  font-size: 40px;
  font-family: "Oswald", sans-serif; }

.clientes img {
  height: 150px;
  margin: 5px; }
  .clientes img:hover {
    transform: scale(1.1); }

.tratamientos-fotos img {
  height: 250px;
  width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  border: 2px solid #7B241C;
  border-radius: 15px; }
  .tratamientos-fotos img:hover {
    transform: scale(1.05); }

.tratamientos-descripcion {
  margin-top: 30px; }

.normas h2 {
  margin: 40px;
  font-size: 40px;
  font-family: "Oswald", sans-serif; }

.normas img {
  margin: 30px;
  height: 200px;
  width: 150px; }
  .normas img:hover {
    transform: scale(1.05); }

.politica-ambiental p {
  margin-top: 50px;
  margin-bottom: 50px; }

.politica-ambiental img {
  height: 350px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px; }

.contacto {
  margin: 20px; }
  .contacto form {
    margin-top: 30px;
    margin-bottom: 20px; }
  .contacto iframe {
    height: 600px; }

.logo {
  color: white;
  font-size: 50px;
  margin-left: 25px; }
  .logo:hover {
    color: #fff; }

.encabezado {
  font-family: "Oswald", sans-serif;
  background-color: #7B241C; }

.items {
  justify-content: end; }

.items2 {
  text-decoration: none;
  color: white;
  display: block;
  align-items: center;
  padding: 20px;
  font-size: 22px;
  text-align: center; }
  .items2:hover {
    color: white; }

.navbar-toggler {
  border-color: #fff;
  color: white; }
  .navbar-toggler:focus {
    border-color: #fff;
    box-shadow: none; }

.footer {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  background-color: #7B241C; }
  .footer p {
    color: #fff; }
  .footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px; }
    .footer a:hover {
      color: #fff; }
