/*  
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    grid-area: main;
    background-color: #E5E7E9;
    min-height: 80vh;
    width: 100vw;
}



.tratamientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "img1 img2 img3 img4 img5"
        "tratamientos-descripcion tratamientos-descripcion tratamientos-descripcion tratamientos-descripcion tratamientos-descripcion";
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 2px;
}

.tratamientos img {
    border: 2px solid #7B241C;
    width: 17vw;
    height: 250px;
    margin: 5px;
    margin-left: 30px;
}

.tratamientos img:hover {
    transform: scale(1.1);
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
    width: 20vw;
    height: 300px;
}

.tratamientos-descripcion {
    grid-area: tratamientos-descripcion;
    width: 90vw;
    margin: 20px;
    font-size: 20px;

}

.politica-ambiental {
    display: flex;
}

.politica-ambiental p {
    font-size: 20px;
    margin: 20px;
    margin-top: 80px;
}

.politica-ambiental img {
    height: 600px;
    width: 30%;
}


.contacto {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 50vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contacto h3 {
    margin-left: 72px;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.form {
    margin-left: 65px;
    margin-bottom: 30px;
    color: #fff;
}

iframe {
    width: 50vw;
    height: 570px;
    margin: 20px;
    margin-top: 50px;

}

.form input {
    height: 30px;
    width: 380px;
    border-radius: 10px;
    text-align: center;
    border-width: 0px;
}

.boton {
    width: 100px;
    margin: 5px;
    background-color: #fff;
}

.boton:hover {
    background-color: #7B241C;
    color: #fff;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    min-height: 10vh;
    
}

.footer p {
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding: 10px;
}

.footer i {
    margin: 5px;
}

.footer i:hover {
    transform: scale(1.3);
}

img {
    object-fit: cover;
}*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:ital@0;1&family=Roboto&family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:ital@0;1&family=Roboto&family=Signika+Negative:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.logo {
    color: white;
    font-size: 40px;
    margin-left: 25px;
}

.logo:hover {
    color: #fff;
}

.encabezado {
    font-family: 'Poppins', sans-serif;
    background-color: #7B241C;
}

.items {
    justify-content: end;
}

.items2 {
    text-decoration: none;
    color: white;
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.items2:hover {
    color: white;
}

.navbar-toggler {
    border-color: #fff;
    color: white;
}

.navbar-toggler:focus {
    border-color: #fff;
    box-shadow: none;
}

.inicio {
    margin: 20px;
}

.inicio p {
    padding-left: 10px;
    margin: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.inicio img {
    margin-top: 30px;
}

.h1-clientes {
    margin: 40px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.clientes {
    margin: 5px;
}

.clientes img {
    height: 150px;
}

.clientes img:hover {
    transform: scale(1.1);
}

.tratamientos-fotos img {
    border: 2px solid #7B241C;
    height: 250px;
    margin: 5px;
    width: 250px;
}

.tratamientos-fotos img:hover {
    transform: scale(1.05);
}

.h1-normas {
    margin: 40px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.normas img {
    height: 150px;
    width: 100px;
}

.normas img:hover {
    transform: scale(1.1);
}

.politica-ambiental p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.politica-ambiental img {
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-contacto {
    margin-top: 30px;
    margin-bottom: 20px;
}

iframe {
    height: 600px;
    margin-top: 60px;
}

.footer {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #7B241C;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer p {
    color: #fff;
}

.footer a:hover {
    color: #fff;
}