.footer {
    font-size: 22px;
    font-family: $Oswald;
    background-color: #7B241C;

    p {
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 5px;

        &:hover {
            color: #fff;
        }
    }
}