.footer {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    background-color: #7B241C;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px;

    &:hover {
        color: #fff;
    }
}

.footer p {
    color: #fff;
}