.inicio {
    margin: 20px;
    p {
        padding-left: 10px;
        margin: 30px;
        @extend %estiloParrafo;
    
    }
    img {
        margin-top: 30px;
        border-radius: 15px;
    }
}
.h2-clientes {
    margin: 40px;
    font-size: 40px;
    font-family: $Oswald;
}

.clientes {
    margin: 5px;
    img {
        height: 150px;
    
        &:hover {
            transform: scale(1.1);
        }
    }
}