.inicio {
    margin: 20px;

    p {
        margin: 30px;
        @extend %estiloParrafo;

    }

    img {
        margin-top: 30px;
        border-radius: 15px;
    }
}

.clientes {

    h2 {
        margin: 40px;
        font-size: 40px;
        font-family: $Oswald;
    }

    img {
        height: 150px;
        margin: 5px;

        &:hover {
            transform: scale(1.1);
        }
    }
}