.logo {
    color: white;
    font-size: 50px;
    margin-left: 25px;

    &:hover {
        color: #fff;
    }
}

.encabezado {
    font-family: $Oswald;
    background-color: #7B241C;
}

.items {
    justify-content: end;
}

.items2 {
    text-decoration: none;
    color: white;
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 22px;
    text-align: center;

    &:hover {
        color: white;
    }
}

.navbar-toggler {
    border-color: #fff;
    color: white;

    &:focus {
        border-color: #fff;
        box-shadow: none;
    }
}