.politica-ambiental {
    p {
        font-size: 25px;
        font-family: $Oswald;
        @include marginTopBottom (50px, 50px);
    }

    img {
        height: 350px;
        border-radius: 30px;
        @include marginTopBottom (50px, 50px);
    }
}