.politica-ambiental {
    p {
    font-size: 25px;
    font-family: $Oswald;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    img {
        height: 350px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 30px;
    }
}