.h2-normas {
    margin: 40px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.normas img {
    margin: 30px;
    height: 200px;
    width: 150px;
    &:hover {
        transform: scale(1.05);
    }
}